.fxg-nav {
    width: 100%;
    z-index: 2;
    background: #4d148c;
    max-height: 75px;
    position: relative;
    top: 0;
    left: 0;
    transition: .25s
}
.fxg-header__logo_wrapper {
    display: inline-block;
    height: 75px;
    width: 143px;
    position: relative;
    transition: .25s height ease
}

@media(max-width: 767px) {
    .fxg-header__logo_wrapper {
        height:60px;
        width: 103px
    }
}